.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('./assets/bg1-loop.gif');
}

.home-container {
  background-color: white;
  padding: 1rem 10rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.result-container {
  background-color: white;
  padding: 1rem 5rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.App h1 {
  margin: .67em 0 0 0;
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

textarea#news_url {
  margin: 10px;
  padding: 8px;
  width: 300px;
  resize: none;
  border-radius: 10px;
}

/* 
button#submit_btn {
  padding: 12px 18px;
  margin-top: 1em;
  color: white;
  border-radius: 10px;
  background-color: rgb(88, 121, 255);
  border: none;
  cursor: pointer;
}

button#submit_btn:hover {
  background-color: rgb(68, 105, 255);
} */


.submit-btn-pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 1.5em 0;
}

.submit-btn-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.submit-btn-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}

.submit-btn-front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: hsl(345deg 100% 47%);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
  .submit-btn-front {
    font-size: 1.25rem;
    padding: 12px 42px;
  }
}

.submit-btn-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.submit-btn-pushable:hover .submit-btn-front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.submit-btn-pushable:active .submit-btn-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.submit-btn-pushable:hover .submit-btn-shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.submit-btn-pushable:active .submit-btn-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.submit-btn-pushable:focus:not(:focus-visible) {
  outline: none;
}

#loading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loadingSpinner {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.checkmark {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.error-banner {
  position: absolute;
  top: 1rem;
  background-color: #ffcccc;
  color: #990000;
  padding: 10px;
  border: 1px solid #990000;
  border-radius: 5px;
  margin-bottom: 15px;
  text-align: center;
}

.model-options {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: #8AE6FD;
  border-radius: 30px;
  gap: 10px;
  padding: 5px;
}

.model-button {
  border: none;
  padding: 8px 20px;
  background-color: #8AE6FD;
  cursor: pointer;
  transition: background-color 0.5s ease;
  border-radius: 30px;
}

.model-button:hover {
  background-color: #5eccff;
}

.model-button.selected {
  background-color: #04ACFA;
}
