.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('../assets/bg1-loop.gif');
}

.container {
  background-color: white;
  padding: 1rem 10rem;
  margin: 0 auto;
  border: 2px solid black; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.App h1 {
  margin: .67em 0 0 0;
}

textarea#news_url {
  margin: 10px;
  padding: 8px;
  width: 300px;
  max-height: 5em; /* Approximately 5 lines */
  overflow-y: auto;
  resize: none; /* Prevent resizing by the user */
}

button#submit_btn {
  padding: 12px 18px;
  margin-top: 1em;
  color: white;
  border-radius: 10px;
  background-color: rgb(88, 121, 255);
  border: none;
  cursor: pointer;
}

p#real_fake {
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
}